/*  import google fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
*{
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body{
  background: rgb(226, 226, 226);
}
nav{
  position: sticky;
  top: 0;
  bottom: 0;
  height: 100vh;
  left: 0;
  width: 120px;
  /* width: 280px; */
  background: rgb(110, 84, 255);
  overflow: hidden;
  transition: 1s;
}
nav:hover{
  width: 280px;
  transition: 1s;
}
.logo{
  text-align: center;
  display: flex;
  margin: 10px 0 0 10px;
  padding-bottom: 3rem;
}

.logo img{
  width: 45px;
  height: 45px;
  border-radius: 50%;
}
.logo span{
  font-weight: bold;
  padding-left: 15px;
  font-size: 18px;
  text-transform: uppercase;
}
a{
  position: relative;
  width: 280px;
  font-size: 14px;
  color: rgb(255, 255, 255);
  display: table;
  padding: 10px;
  transition: 0.5s;
  border-radius: 12px;
}
nav .fas{
  position: relative;
  width: 70px;
  height: 40px;
  top: 20px;
  font-size: 20px;
  text-align: center;
}
.nav-item{
  position: relative;
  top: 12px;
  margin-left: 10px;
  font-weight: 700;
}
a:hover{
  background: rgb(255,255,255,0.1);
}
a:hover i{
  color: #4f6bf9;
  transition: 0.5s;
}
.logout{
  position: absolute;
  bottom: -10;
}

.container{
  display: flex;
}

/* MAin Section */
#dashboard-section{
  position: relative;
  padding: 20px;
  width: 100%;
  background-color: rgb(115, 117, 245);
  transition: all 0.5s;
  /* border: #34AF6D 2px solid; */
  /* display: none; */
}

.main-top{
  display: flex;
  width: 100%;
}
.main-top i{
  position: absolute;
  right: 0;
  margin: 10px 30px;
  color: rgb(110, 109, 109);
  cursor: pointer;
}
#dashboard-section .users{
  display: flex;
  width: 100%;
}

#dashboard-section-heading{
 margin: 10px 10px;
 font-size: 36px;
 color: #fff;
}
#summary-section{
  position: relative;
  width: 100%;
  /* margin: 20px 0; */
  display:none;
  transition: all 0.5s;
  background-color:rgb(115, 117, 245)
  /* border: pink 4px solid; */
}

#create-drive-section{
  position: relative;
  width: 100%;
  transition: all 0.5s;
  /* margin: 20px 0; */
  /* border:4px solid green; */
  display:none;
}

#register-students-section{
  position: relative;
  width: 100%;
  transition: all 0.5s;
  /* height: 100%; */
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(115, 117, 245);
  /* height:100%; */
  /* border:4px solid blue; */
  /* margin: 20px 0; */
  display:none;
  /* display: block; */
}

#recently-placed-section{
  position: relative;
  /* border:4px solid red; */
  width: 100%;
  transition: all 0.5s;
  /* margin: 20px 0; */
  background-color: rgb(115, 117, 245);
  display:none;
}

#recently-placed-section #heading{  
  margin-left:20px; 
  margin-top:18px;
  font-size: 36px;
  color:#fff;
 
}
#recently-placed-section .display-placed-students{
  position: relative;
  width: 100%;
  /* height: 100%; */
  /* border: 2px solid red; */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  /* margin: 20px 0; */
}

#recently-placed-section .display-placed-students>div{
  /* display: flex; */
  width: 30%;
  height:230px;
  margin: 10px 0;
  padding: 10px;

  border-radius: 5px;
  background: #fff;
}
#recently-placed-section .display-placed-students>div>img {
  width:70px;
  height:70px; 
  border-radius: 20px;
  margin: auto;
  margin-left:40%;
  margin-top:4%;

}
#recently-placed-section .display-placed-students>div>h3{
  text-align: center;
  /* margin: 10px 0; */
}
#recently-placed-section .display-placed-students>div>:nth-child(6){
  text-align: center;
  display: inline-block;
  margin-left:92px;
  /* margin: 10px 0; */
}
#recently-placed-section .display-placed-students>div>:nth-child(7){
  text-align: center;
  display: inline-block;
  /* margin-left:60px; */
  /* margin: 10px 0; */
}

#recently-placed-section .display-placed-students>div>p{
  /* display: inline-block; */
  text-align: center;

  /* margin: 10px 0; */
}



#overlay-logout{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.8);
  z-index: 1;
  display: none;
  color:white;
  text-align: center;
  padding-top: 20%;
  font-size:40px;

}


.users .card{
  width: 25%;
  margin: 10px;
  background: #fff;
  text-align: center;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
}
.filter-icon{
  position: absolute;
  right: 0;
  margin: 10px 30px;
  font-size: 30px;
  color: rgb(255, 255, 255);
  cursor: pointer;
}


.users .card img{
  width: 70px;
  height: 70px;
  border-radius: 8px;
}
.users .card h4{
  text-transform: uppercase;
}
.users .card p{
  font-size: 12px;
  margin-bottom: 15px;
  text-transform: uppercase;
}
.users table{
  margin:  auto;
}
.users .per span{
  padding: 5px;
  border-radius: 10px;
  background: rgb(223, 223, 223);
}
.users td{
  font-size: 14px;
  padding-right: 15px;
}
.users .card button{
  width: 100%;
  margin-top: 8px;
  padding: 7px;
  cursor: pointer;
  border-radius: 10px;
  background: transparent;
  border: 1px solid #4f6bf9;
}
.users .card button:hover{
  border: 1px solid #fff;
  background: #738afc;
  color: #fff;
  transition: 0.5s;
}

/*Attendance List serction  */
.attendance{
  display: flex;
  width: 100%;
  margin-top:10px
  /* margin-top: auto; */
  /* border: #34AF6D 3px solid; */
  /* justify-content: space-around; */
}


.view-annoucement{
  /* display:flex; */
  width: 50%;
  padding: 10px;
  /* margin-top: 10px; */
  margin: auto;
  background: #fff;
  /* border: #3c0cad 3px solid; */
  border-radius: 10px;
  box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
}

.view-annoucement > div{

  margin: 10px;
  padding: 10px;
  /* width:45%; */
  /* height:100px; */
  /* display: inline-block; */
  border: #4f6bf9 3px solid;
  border-radius: 10px;
  box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
}

.view-annoucement > h1{
  text-align: center;
  margin: 10px;
  padding: 10px;
  /* border: #34AF6D 3px solid; */
  border-radius: 10px;
  box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
}
.upcoming-drives{
  width: 50%;
  padding: 10px;
  /* margin-top: 10px; */
  margin-left: 20px;
  /* border: #d45608 3px solid; */
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
}

.upcoming-drives > div{
  margin: 10px;
  padding: 10px;
  /* width:45%; */
  /* height:100px; */
  /* display: inline-block; */
  border: #4f6bf9 3px solid;
  border-radius: 10px;
  box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
}
.upcoming-drives > h1{
  text-align: center;
  margin: 10px;
  padding: 10px;
  /* border: #34AF6D 3px solid; */
  border-radius: 10px;
  box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
}
#create-drive-section #drive-conatiner{
  width: 100%;
  height: 100%;
  margin: auto;
  padding: 10px;
  background: rgb(236, 233, 233);
  border-radius: 10px;
  box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
}
#create-drive-section #heading{
  text-align: center;
  margin: 10px;
  padding: 10px;
  font-size:30px;
  background-color: #738aff;
  color: #fff;
  /* border: #34AF6D 3px solid; */
  border-radius: 10px;
  box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
}

.drive-details{
  width: 100%;
  height: 87%;
  box-sizing: border-box;
  margin: auto;
  padding: 10px;
  background: rgb(115, 117, 245);
  border-radius: 10px;
  box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
}
.drive-details > div {
  margin: 10px;
  padding: 10px;
  display:flex;
  justify-content: center;
  align-items: center;
  /* width:45%; */
  /* height:100px; */
  /* display: inline-block; */
  /* border: #34AF6D 3px solid; */
  border-radius: 10px;
  /* box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1); */
}
.drive-details > div>label{
  font-size: 20px;
  padding: 10px;
  color: #fff;
  /* width:45%; */
  /* height:100px; */
  /* display: inline-block; */
  /* border: #34AF6D 3px solid; */
  border-radius: 10px;
  box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
}

.drive-details > div>input{
  /* margin: -10px; */
  padding: 10px;
  text-align: center;
  /* width:45%; */
  /* height:100px; */
  /* display: inline-block; */
  /* border: #34AF6D 3px solid; */
  border-radius: 10px;
  box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
}

.drive-details >button{
  /* margin: 10px; */
  padding: 10px;
  font-size:18px;
  text-align: center;
  margin-left:50%;
  cursor: pointer;
  /* width:45%; */
  /* height:100px; */
  /* display: inline-block; */
  /* border: #34AF6D 3px solid; */
  border-radius: 10px;
  box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
  transition: 0.5s;
}
.drive-details >button:hover{
  background: #4f6bf9;
  color: #fff;
}
#student-details{
  width: 35%;
  height: 98%;
  margin: auto;
  padding: 10px;
  background: rgb(236, 233, 233);
  border-radius: 10px;
  box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
}
#student-details>div>h3{
  text-align: center;
  margin: 10px;
  padding: 10px;
  display: inline;
  font-size:20px;
  color: #fff;
  background-color: #738aff;
  /* border: #34AF6D 3px solid; */
  border-radius: 10px;
  box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
}

#student-details>div>input{
  margin: 10px;
  padding: 10px;
  /* text-align: center; */
  width:55%;
  /* height:100px; */
  /* display: inline-block; */
  /* border: #34AF6D 3px solid; */
  border-radius: 10px;
  box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
}
#student-details-heading{
  text-align: center;
  /* margin: 10px; */
  padding: 10px;
  color: #fff;
  font-size:30px;
  /* border: #34AF6D 3px solid; */
  background-color: #738aff;
  border-radius: 10px;
  box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
}

#student-details-container > button{
  /* margin: 10px; */
  display: block;
  padding: 10px;
  font-size:20px;
  text-align: center;
  margin-left:40%;
  cursor: pointer;
  font-weight: 700;
  /* width:45%; */
  /* height:100px; */
  /* display: inline-block; */
  /* border: #34AF6D 3px solid; */
  border-radius: 10px;
  box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
  transition: 0.5s;
}
#student-details-container > button:hover{
  background: #4f6bf9;
  color: #fff;
}


#upcoming-drives-image{
  width:200px;
  height: 50px;
}
#upcoming-drives-image-google{
  width:150px;
  height: 50px;
}

#view-announcemnt-time{
  font-size: 12px;
  color: #585bfc;
  margin-right:4px;

}

#view-announcemnt-title{
  margin-right:4px;
  font-size: 20px;
  color: #74778a;
  font-weight: bold;
}

#view-annoucement-body{
  display: block;
  font-size: 15px;
  color: #121212;
  margin-right:4px;
}

#user-image{
  width: 50px;
  height: 50px;
  border-radius: 20%;

  margin-right: 10px;

}
